/* BASIC STYLES HERE */

.f-height {
    height: 35px;
}

.f-height2 {
    height: 50px;
}

.select {
    cursor: pointer;
}

.glassy {
    opacity: .7;
}

.mainf-height {
    height: 52px;
}

.strike {
    text-decoration: line-through;
}

.blue {
    background-color: rgba(0, 89, 255, 0.3);
}

.red {
    background-color: rgba(255, 0, 64, 0.3);
}