/* BASIC STYLES HERE */

.f-height {
    height: 35px;
}

.f-height2 {
    height: 50px;
}

.select {
    cursor: pointer;
}

.glassy {
    opacity: .7;
}

.mainf-height {
    height: 52px;
}

.strike {
    text-decoration: line-through;
}